<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25497640072-q1o9cfddnun8j886c5om4lehrbt8oqtg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25497640072-q1o9cfddnun8j886c5om4lehrbt8oqtg</string>
	<key>API_KEY</key>
	<string>AIzaSyAwJXwBavOLcYSf5pH70m_HKkgGyqYGcJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>25497640072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syfttny.timeofftracker</string>
	<key>PROJECT_ID</key>
	<string>time-off-tracker-30abd</string>
	<key>STORAGE_BUCKET</key>
	<string>time-off-tracker-30abd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25497640072:ios:e2fda9c79bf65242a0133d</string>
</dict>
</plist>